.projects__section {
  margin-bottom: 100px;

  .intro__wrapper {
    position: relative;
    margin-bottom: 30px;
    &::before {
      content: "";
      position: absolute;
      width: 5px;
      height: 100%;
      background-color: #2e6edf;
      border-radius: 5px;
      margin-right: 10px;
      display: block;
    }
  }
  .projects__intro {
    color: gray;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
    padding-left: 10px;
  }
  .projects__title {
    font-size: 3.5rem;
    margin-bottom: 50px;
    color: #212121;
  }

  .projects__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .projects__section {
    .projects__title {
      font-size: 3rem;
    }
  }
}
