.about__section {
  height: 100vh;
  display: flex;
  align-items: center;
  column-gap: 70px;
  margin-bottom: 100px;
  .about__left {
    flex: 1;
    width: 60%;
    img {
      width: 100%;
      border-radius: 24px;
    }
  }
  .about__right {
    flex: 1;
    width: 40%;

    .about__wrapper {
      position: relative;
      margin-bottom: 30px;
      &::before {
        content: "";
        position: absolute;
        width: 5px;
        height: 100%;
        background-color: #2e6edf;
        border-radius: 5px;
        margin-right: 10px;
        display: block;
      }
    }
    .about__intro {
      color: gray;
      font-size: 1.5rem;
      font-weight: 400;
      position: relative;
      padding-left: 10px;
    }
  }
  .about__title {
    font-size: 3.5rem;
    margin-bottom: 30px;
    color: #212121;
  }
  .about__text {
    font-size: 1.6rem;
    margin-bottom: 30px;
    color: #444444;
    span {
      color: #2e6edf;
      font-weight: 500;
    }
  }
  .skills__title {
    font-size: 1.8rem;
    margin-bottom: 30px;
    color: #212121;
  }
  .skills__icons {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    flex-wrap: wrap;
    .icon__item {
      min-width: 100px;
    }
    .icon {
      color: #2e6edf;
      font-size: 2.5rem;
    }
    .icon__title {
      font-size: 1.6rem;
      color: gray;
    }
  }
  .download__btn {
    text-decoration: none;
    background-color: #2e6edf;
    color: white;
    border: 1px solid #2e6edf;
    font-family: inherit;
    font-size: 1.2rem;
    padding: 10px 25px;
    border-radius: 24px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    margin-top: 20px;
    display: inline-block;
    &:hover {
      border: 1px solid #2e6edf;
      color: #2e6edf;
      background-color: transparent;
    }
  }
}

@media (max-width: 768px) {
  .about__section {
    flex-direction: column-reverse;
    height: unset;
    margin-bottom: 100px;
    align-items: start;
    .about__left,
    .about__right {
      width: 100%;
    }
    .about__right {
      margin-bottom: 100px;
      .about__title {
        font-size: 3rem;
      }
    }
  }
}
