.contact__section {
  height: 100vh;
  display: flex;
  align-items: center;
  column-gap: 50px;
  border-top: 1px solid #eee;
  .contact__left {
    flex: 1;

    .intro__wrapper {
      position: relative;
      margin-bottom: 30px;
      &::before {
        content: "";
        position: absolute;
        width: 5px;
        height: 100%;
        background-color: #2e6edf;
        border-radius: 5px;
      }
    }
    .conatct__intro {
      font-size: 2rem;
      font-weight: 400;
      color: gray;
      margin-bottom: 30px;
      padding-left: 10px;
    }
    .contact__title {
      font-size: 3.5rem;
      margin-bottom: 50px;
      color: #212121;
    }
  }
  .contact__details {
    .icon {
      color: #2e6edf;
      font-size: 2.5rem;
      margin-bottom: 10px;
    }
    .contact__text {
      font-size: 1.6rem;
      color: gray;
      margin-bottom: 30px;
    }
  }
  .contact__right {
    flex: 1;
    form {
      max-width: 500px;
      width: 100%;
      .form__input {
        margin-bottom: 10px;
        input {
          width: 100%;
          padding: 15px;
          border-radius: 24px;
          border: 1px solid #eee;
          &::placeholder {
            color: gray;
            font-family: inherit;
            font-size: 1.6rem;
          }
          &:focus {
            outline-color: #2e6edf;
          }
        }
      }
      textarea {
        width: 100%;
        height: 200px;
        border: 1px solid #eee;
        border-radius: 24px;
        padding: 15px;
        margin-bottom: 10px;
        &::placeholder {
          font-family: inherit;
          font-size: 1.6rem;
        }
        &:focus {
          outline-color: #2e6edf;
        }
      }
      button {
        width: 100%;
        font-size: 1.6rem;
        border: 1px solid #2e6edf;
        background-color: #2e6edf;
        color: white;
        padding: 15px;
        border-radius: 24px;
        cursor: pointer;
        transition: 0.5s ease-in-out;
        &:hover {
          color: #2e6edf;
          border: 1px solid #2e6edf;
          background-color: transparent;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .contact__section {
    flex-direction: column;
    height: unset;
    padding-top: 100px;
    margin-bottom: 100px;
    .contact__left,
    .contact__right {
      width: 100%;
    }
    .contact__left {
      .contact__title {
        font-size: 3rem;
      }
    }

    .contact__right {
      form {
        margin: 0 auto;
      }
    }
  }
}
